:root {
    --primary: ##6ac6f9;
    --secondary: #fbed63;
    --tertiary: #f0341f;
    --light-dark: #ffb748;
    --dark: #636154;
    --border-radius: .3rem;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var();
}